<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template</title>
</head>
<body>
    <template id="board-template">
        <section class="board" id="board-${board.id}">
            <div class="board-header"><span class="board-title">${board.title}</span>
                <button class="board-add">Add Card</button>
                <button id="button-${board.id}"><i class="fas fa-chevron-down"></i></button>
            </div>
        </section>
    </template>


    <template id="column-template">
        <div class="board-columns hidden">
            <div class="board-column">
                <div class="board-column-title">New</div>
                <div class="board-column-content" id="board-${board.id}-new">

                </div>
            </div>
            <div class="board-column">
                <div class="board-column-title">In Progress</div>
                <div class="board-column-content" id="board-${board.id}-progress">

                </div>
            </div>
            <div class="board-column">
                <div class="board-column-title">Testing</div>
                <div class="board-column-content" id="board-${board.id}-testing">

                </div>
            </div>
            <div class="board-column">
                <div class="board-column-title">Done</div>
                <div class="board-column-content" id="board-${board.id}-done">

                </div>
            </div>
        </div>
    </template>

    <template id="card-template">
         <div class="card">
            <div class="card-remove"><i class="fas fa-trash-alt"></i></div>
            <div class="card-title">{{ cardTitle }}</div>
        </div>
    </template>

</body>
</html>